body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
  background-position: top center;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 2-я страница body */ 
.catalog-page {
  background-color: #f2f2f2;
  background-repeat: repeat;
  background-position: 0 0; 
}


body {
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: auto;
}

a {
	text-decoration: none;
}

.navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000; 
	background-color: #ffffff; 
  text-align: center;
}

.navigation a {
	color: #000000;
	font-weight: 700; 
}

.navigation a:hover {
	color: #82b4d3; 
}

.navigation a:focus {
	color: #b2b2b2; 
}

.selected a:visited {
  color: #766357;
}

.description h2 {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.description p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.description {
  background-color: #ffffff;
}

.reason-1 {
  background-color: #82b4d3;
  color: #ffffff;
}

.reason-1 h3 {
  font-size: 21px; 
}

.reason-1 p {
  font-size: 14px;  
}

.services {
  background-color: #ffffff;
}

.services-option-house h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.services-option-food h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.services-option-presents h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}



.services-option-house p {
  font-size: 14px; 
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.services-option-food p {
  font-size: 14px; 
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.services-option-presents p {
  font-size: 14px; 
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}


.services-option-house:before {
  content: url(../img/icon-house.png);
}

.services-option-food:before {
  content: url(../img/icon-burger.png);
}

.services-option-presents:before {
  content: url(../img/icon-present.png);
}




.reason-2 {
  background-color: #82b4d3;
  color: #ffffff;
}

.reason-2 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700; 
}

.reason-2 p {
  font-size: 14px;
  line-height: 21px;
}

.reason-describe { 
  background-color: #efefef;
  color: #ffffff;
}

.reason-describe h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700; 
  color: #000000;
}

.reason-describe p {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}


.google-map {
  background-color: #ffffff;
}

.google-map h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.google-map p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.search-form input {
  background-color: #f3f3f3;
}

footer {
  background-color: #ffffff;
}

.social-footer h3 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.copyright-footer p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;  
}

.twitter {
  background-image: url(../img/twitter.svg);
}




/*_______ 2-я страница разметка______________________*/ 
.filters {
  background-image: url(../img/background.jpg); 
  width: 1200px;
  height: 562px;
} 

.filters fieldset {
  border: none;
}

.filters legend {
  color:  #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filters label {
  color:  #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.filter-option {
  list-style: none;
}

.search-result h2 {
  color:  #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.search-result {
  background-color: #fefefe;
}

.hotel-item {
  background-color: #fefefe;
}
.sorting {
  color:  #000000;
  font-size: 11.99px;/
  font-weight: 400;
  line-height: 5.135px;/
  text-align: left;
}

.sorting p {
  color: #000000;
  font-weight: 700;
}

.hotel-item ul {
  list-style: none;
}

.result-hotel p {
  color:  #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  
}

.result-text h3 {
  color:  #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.result-text p {
  color:  #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.result-text button {
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}



/* Декоративность 2-я страница */ 

/* Фильтр */
.filters fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option label {
  padding-left: 40px;
  padding-bottom: 10px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 20px;
  height: 20px;
  left: 0px;
  top: 0;
  border: 2px solid #ffffff;
  border-radius: 3px;
}


.filter-input-checkbox:checked + label::after {
  content: "\2714";
  font-size: 30px;

  position: absolute;
  top: 0;
  left: 3px;

}

/* Фильтр цены --------------------------*/
.filter-range {
  width: 330px;
  padding-right: 70px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}





.sorting-links a {
  color: #cbcbcb;
  border-bottom-style: dotted;
  border-color: #81b3d2;
  border-width: 1px;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-links a:hover {
  color: #81b3d2;
  border-bottom-style: dotted;
  border-color: #81b3d2;
}


.sorting-links a:focus {
  color: #81b3d2;
  border: none;
}

.sorting-links a:active { 
  color: #000000;
}


.sorting-by-updown  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.icon-up:before {
 content: "\27A4";
 position: absolute;
 color: #cbcbcb;
 transform: rotate(270deg);
 font-size: 15px; 
}

.icon-down:after {
 content: "\27A4";
 position: absolute;
 right: 70px;
 color: #81b3d2;
 transform: rotate(90deg);
 font-size: 15px; 
}




.result-text h3:hover {
  color: #81b3d2;
}


.result-text h3:active {
  color: #b2b2b2; 
}







.hotel-item figure {
  margin: 0;
  padding: 0;
}

.hotel-item button {
  border: none;
  text-transform: uppercase;
}

.result-button p {
  color: #ffffff;
  position: relative;
  bottom: -13px;
}

.more-info {
  background-color: #81b3d2;
  color: #ffffff;
  
  width: 110px;
  height: 27px;
}

.reserve {
  background-color: #766357; 
  color: #ffffff;

  width: 142px;
  height: 27px;
}



.more-info:hover {
  background-color: #669ec0;
}
.more-info p:active {
  background-color: #669ec0;
  color: #88b6d1;  
}

.reserve:hover {
  background-color: #604e43;
}
.reserve p:active {
  background-color: #604e43;
  color: #857871;  
}





.star:after {
 content: "\2605";
 position: absolute;
 color: #82b5d3;
}

.stars {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  margin-top: -10px;
  margin-left: 25px;
  margin-right: 10px;

  padding-bottom: 45px;
}

 .stars-desert {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  margin-top: -10px;
  margin-left: 40px;
  margin-right: 10px;

  padding-bottom: 45px;
 }

  .stars-villas {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;

  margin-top: -10px;
  margin-left: 60px;
  margin-right: 10px;

  padding-bottom: 45px;
 }








.raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-right: 50px;
}


.raiting p {
  color:  #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.raiting p {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  padding-top: 5px;
  padding-bottom: -5px;
}



/* Декоративность формы поиска */ 

.search-link:hover {
  background-color: #604e43;
}
.search-link p:active {
  background-color: #604e43;
  color: #857871;  
}


.checkin-information input:hover {
  background-color: #ececec;
}
.checkin-information input:focus {
  background-color: #ffffff; 
}


.search-form button:hover {
  background-color: #669fc2;
}

.search-form button:active {
  background-color: #5397be;
  color: #87b6d2;  
}






















/*_________Сетка 1-я страница_________*/

.wrapper {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header { 
background: #fff; 
min-height: 55px; 
} 

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -69px; 
  z-index: 1;
}

.main-navigation-wrapper {
  width: 1054px; 
  margin: 0 73px; 
} 
.main-navigation-wrapper .navigation {
  display: flex;
  justify-content: space-between;
}

.navigation { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  width: 100%; 
  min-height: 56px; 
  list-style-type: none; 
  -webkit-box-align: center; 
  -ms-flex-align: center; 
  align-items: center; 
  -webkit-box-pack: start; 
  -ms-flex-pack: start; 
  justify-content: flex-start; 
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap; 
  margin: 0; 
  padding: 0; 
} 

.navigation li { 
  margin-top: 15px; 
  margin-bottom: 15px; 
  -ms-flex-item-align: center; 
  align-self: center; 
  width: 240px; 
  list-style: none; 
} 

.navigation li:nth-child(1), 
.navigation li:nth-child(2) { 
  text-align: left; 
} 

.navigation li:nth-child(3), 
.navigation li:nth-child(4) { 
  text-align: right; 
} 

.navigation li:nth-child(3n) { 
  margin-left: auto; 
} 

.main-foto { 
  height: 574px;
  margin-top: 0; 
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; 
}

.description {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.reason-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reason-1 {
  max-height: 256px;
}

.reason-text-1 {
  text-align: center;
  margin-top: 40px; 
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 47px;
  white-space: nowrap;
}

.foto-city {
  margin-top: 0px; 
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;  
}

figure {
  margin: 0 0 0 0 ;
}

.services {
  min-height: 330px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services-option-house,
.services-option-food,
.services-option-presents {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}


.reason-2 {
  width: 1200px;
  max-height: 256px; 
}

.reason-2 {
  display: inline-flex;
}

.foto-canyon {
  margin-top: 0px; 
  margin-right: 47px;
  margin-bottom: 0px;
  margin-left: 0px;  
}

.reason-text-2 {
  text-align: center;
  margin-top: 40px; 
  margin-right: 47px;
  margin-bottom: 40px;
  margin-left: 0px;
  white-space: nowrap;
}

.reason-describe {
  max-height: 256px;
}

.reason-container {
  display: flex;  
}

.reason {
  width: 400px;
  min-height: 256px;
  text-align: center;
  padding-top: 45px;
}

.search-link {
  width: 568px;
  min-height: 86px;
  background-color: #766357; 
}

.search-link p {
  color: #ffffff;
}

.search-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search {
  position: absolute;
  margin-top: 205px;
  margin-right: 310px;
  margin-bottom: 0;
  margin-left: 310px; 
}

.search {
  width: 568px;
  min-height: 481px;
}

.search {
  display: flex;
  flex-direction: column;
}

.checkin {
  display: flex;
  flex-direction: column;
}

.button-find {
  text-transform: uppercase; 
}

.goodle-map {
  width: 1200px;
  max-height: 880px;
}

.google-map {
  display: flex;
  flex-direction: column;
}

.map {
  margin: auto;
}

.google-map-text {
  width: 1200px;
  min-height: 290px; 
}

.google-map-text {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.google-map-text h2 {
  margin-top: 60px;
}

.google-map-text p {
  margin-top: 0px;
}

.social-footer {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  bottom: 0;
  position: absolute;
  z-index: 10;
  background: rgba(255,255,255,0.8);
}

.copyright-footer {
  display: flex;
  min-height: 120px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.copyright-footer figure {
  margin-top: 0; 
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}


 
.social-footer-inner {
  bottom: -120px;
  background-color: #ffffff; 
}




/*_____Сетка 2-я страница_____*/ 


.filters {
  width: 1200px;
  max-height: 215px;
}


.background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.background {
  padding-top: 25px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
}

.filters ul {
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 0px;
}

.filters legend {
  margin-bottom: 25px;
}

.infrastructure ul {
  padding-left: 68px;
}

.infrastructure legend {
  padding-left: 68px;
}

.type-house ul {
  padding-left: 0;
  padding-right: 370px; 
}

.search-result {
  min-height: 85px;
}

.search-result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-result-container {
  min-height: 85px;
  padding-left: 70px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-links {
  padding-top: 12px;
  padding-left: 30px; 
}

.sorting-links a {
  margin-right: 10px; 
}


.sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting p {
  margin-left: 45px;
}

.sorting-by-updown {
  margin-top: 11px;
  margin-left: 500px;
}



.hotel-item ul {
  display: flex;
  flex-direction: column;
}

.hotel-item ul {
  width: 1200px;
}

.hotel-item ul {
  margin: 0;
  padding: 0; 
}




.result-hotel-amara {
  display: flex;
  justify-content: space-around;
}
.result-hotel-amara {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 15px;
}




.result-hotel-desert {
  display: flex;
  justify-content: space-around;
}
.result-hotel-desert {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 5px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 15px;
}



.result-hotel-villas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.result-hotel-villas {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 5px;
  margin-bottom: 10px;

  padding-top: 10px;
  padding-bottom: 15px;
}



.result-text {
  padding-right: 490px;
  margin-left: 0;
}

.result-text p {
  margin-top: -10px;
}

.result-text {
  position: relative;
  bottom: 10px;
  left: 5px;
}

.result-foto img {
  padding-top: 15px;
  padding-left: 50px;
}

.result-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.result-button {
  margin-top: -5px;
}

.reserve {
  margin-left: 5px;
}






/* Форма поиска */ 

.search-form input {
  border: none;
}


.checkin-form {
  margin-top: 50px;
  min-height: 180px;
}


.date {
  box-sizing: border-box;
  width: 335px;
  height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.people-amount input {
  box-sizing: border-box;
  width: 40px;
  height: 38px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
}


.search-form input {
  text-transform: uppercase;  
}



.date-image:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 5px;


  width: 21px;
  height: 22px;

  background-image: url(../img/calendar.svg);
  background-repeat: no-repeat; 
}

.minus-image {
  border: 0;
  width: 38px;
  height: 38px;
  background-color: #f3f3f3;

  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.plus-image {
  border: 0;
  width: 38px;
  height: 38px;
  background-color: #f3f3f3;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}





.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.checkin-date {
  display: inline-flex;
}

.people-amount p {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;

  margin-right: 10px;
  margin-left: 20px;
}

.people-amount label {
  margin-right: 35px;
  margin-left: -10px;
}

.dates label {
  margin-right: 5px;
}





.checkin-information {
  display: block;
  position: relative;
}

.checkin-information input {
  color:  #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.search {
  background-color: #ffffff;
  text-align: center;
}

.search label {
  color:  #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.button-find {
  background-color: #82b5d3;
  color:  #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;   
}

.button-find p {
  font-size: 21px;
  font-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.button-find {
  border: none;
  width: 458px;
  height: 58px;
  margin-top: 10px;
}


